.latex/.images

*.pyc
main.pdf
*/build
.sloeber/.metadata
*/*/Release
*/RemoteSystemsTempFiles
*/RemoteSystemsTempFiles
.eclipse/test
.eclipse/test-c
.latex/*.aux
.latex/*.log
.latex/*.blg
.latex/*.lof
.latex/*.bbl
.latex/*.lot
.latex/*.out
.latex/*.pdf
.latex/*.synctex.gz
.latex/*.toc
.latex/images/*.gif
.python/*.pkl
.python/*.png
.python/*.jpg
.python/*.ply
.python/chess
.temp